<ion-view hide-tabs="true" view-title="电子锁">
  <ion-content>
    <ion-refresher pulling-text="下拉刷新……" pulling-icon="ion-load-a"
                   on-refresh="doRefresh()"></ion-refresher>
    <ion-list>
      <ion-item class="item item-avatar item-icon-right" ng-repeat="dzsRecord in dzsRecords" type="item-text-wrap"
                ng-click="viewDetail(dzsRecord)">
        <img src='img/record_item_dzs.png'>
        <h2>{{dzsRecord.objectname}}</h2>
        <p>{{dzsRecord.begintime}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>
    <ion-infinite-scroll distance="1%" on-infinite="LoadMore()"
                         ng-if="canLoadMore()"></ion-infinite-scroll>
  </ion-content>
  <div id="scroll"
       style="position: fixed;bottom:50px;right:10%;z-index: 500;overflow: hidden;text-align: center;vertical-align: middle;padding: 5px;width: 52px;">
    <img src="img/ic_action_top.png"
         style="width: 42px;height: 42px;background-color: #007aff;border-radius: 50%;padding: 5px;"
         ng-click="scrollTop()"
    ng-if="shouldShow()">
    <img src="img/ic_action_select.png"
         style="width: 42px;height: 42px;background-color: #007aff;border-radius: 50%;padding: 5px;"
        ng-click="goToSelect()">
  </div>
</ion-view>
