<ion-view view-title="记录">
  <ion-content>
    <ion-list>
      <ion-refresher pulling-text="下拉刷新……" pulling-icon="ion-load-a" refreshing-icon="ion-load-b"
                     on-refresh="doRefresh()"></ion-refresher>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="chat in chats" type="item-text-wrap"
                href="#/tab/chats/{{chat.id}}">
        <img src='../www/img/car.jpg'>
        <h2>{{chat.linkgoodname}}</h2>
        <p>{{chat.begintime}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>
    <ion-infinite-scroll distance="1%" on-infinite="LoadMore()" icon="ion-load-c"
                         ng-if="canLoadMore()"></ion-infinite-scroll>
  </ion-content>
</ion-view>
