<ion-view view-title="简介">
  <ion-content class="padding">
    <p>&nbsp;&nbsp;&nbsp;&nbsp;上海慧物智能科技有限公司是一家专注于物联网RFID/NFC技术应用的产品研发及系统集成，防盗防伪软硬件产品及技术服务的专业提供商。</p>
    <p>
      &nbsp;&nbsp;&nbsp;&nbsp;公司注册于国家级创业园区上海交通大学慧谷高科技中心，拥有一支专业的技术研发团队和优秀的管理团队及营销团队。公司与众多系统集成商，学校政府研究所（如：国家质监总局计量研究所，并依托交大高科技基地的平台，依托交通大学的技术和人才优势联合华师大及复旦大学师资力量），在软硬件产品研发、产品经销、技术创新等方面形成了良好的合作伙伴关系。</p>
    <p>
      &nbsp;&nbsp;&nbsp;&nbsp;上海慧物智能科技有限公司基于RFID/NFC技术，致力于防盗防伪、物品识别与追溯领域的产品研发和系统集成。我们拥有核心技术并能够提供高品质产品及技术服务。数年来慧物人兢兢业业，精益求精，凭借其技术、人才、管理优势，本着“认真做事只是把事情做对，用心做事才能把事情做好，”的企业精神，成功的把一系列防盗防伪产品应用到中国的大江南北，服务于各行各业，并获得客户的一致好评和青睐。</p>
    <p>
      &nbsp;&nbsp;&nbsp;&nbsp;公司先后通过了ISO9001质量管理体系认证，获得国家创新基金支持，并荣获“RFID行业十大最有影响力成功应用奖”，积极参与行业标准与规范的制定。成功服务于：物流、水力、电力、燃气等行业。先后与中国物联网协会、上海水务局、国家电网、中国衡器协会等密切合作。产品在中石油、中石化、南方电网、新奥能源、贵州燃气、山西东义煤气化集团等一批国家级企业及名营企业中得到广泛应用。</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;全心全意为客户提供满意的服务是我们的宗旨。与客户深化合作、携手并进，努力打造智慧物联品牌，成为中国乃至世界最优秀的物联网企业是我们的奋斗目标。</p>
  </ion-content>
</ion-view>
