<ion-view hide-tabs="true" view-title="登录">
  <ion-content>
    <div class="list list-inset">
      <label class="item item-input">
        <input type="text" placeholder="username" ng-model="userInfo.username" value=“{{userInfo.username}}”></label>
      <label class="item item-input">
        <input type="password" placeholder="password" ng-model="userInfo.password" value="{{userInfo.password}}"></label>
      <button class="button button-full button-positive" ng-click="login(userInfo)">登录</button>
    </div>
  </ion-content>
</ion-view>
