<ion-view hide-tabs="true" view-title="{{wlRecord.linkgoodname}}">
  <ion-content class="padding">
    <div>
      <table class="table table-bordered">
        <tr ng-show="wlRecord.deskaddr">
          <th class="td_left">目的地址</th>
          <td class="td_right">{{wlRecord.deskaddr}}</td>
        </tr>
        <tr>
          <th class="td_left">起始时间</th>
          <td class="td_right">{{wlRecord.begintime}}</td>
        </tr>
        <tr ng-show="wlRecord.beginaddr">
          <th class="td_left">起始地址</th>
          <td class="td_right">{{wlRecord.beginaddr}}</td>
        </tr>
        <tr>
          <th class="td_left">起始人员</th>
          <td class="td_right">{{wlRecord.beginusername}}</td>
        </tr>
        <tr ng-show="wlRecord.endusername">
          <th class="td_left">结束时间</th>
          <td class="td_right">{{wlRecord.endtime}}</td>
        </tr>
        <tr ng-show="wlRecord.endusername">
          <th class="td_left">结束地址</th>
          <td class="td_right">{{wlRecord.endaddr}}</td>
        </tr>
        <tr ng-show="wlRecord.endusername">
          <th class="td_left">结束人员</th>
          <td class="td_right">{{wlRecord.endusername}}</td>
        </tr>
      </table>
    </div>
    <div class="list card" ng-show="wlRecord.beginaddr||wlRecord.beginlat">
      <div class="item tabs tabs-secondary tabs-icon-left">
        <div class="tab-item" ng-click="getWlRecordPositions()"><i class="icon ion-android-lock"></i>施封位置</div>
        <div class="tab-item" ng-click="viewRecordPicture(wlRecord)" ng-show="wlRecord.overpaperpic"><i
          class="icon ion-image"></i>运单照片
        </div>
      </div>
    </div>
    <div id="mapContainer" class="mapContainer"></div>
  </ion-content>
</ion-view>
