<ion-view hide-tabs="true" view-title="{{wlPosition.lockpostion}}">
  <ion-content>
    <ion-list>
      <ion-item class="item" ng-repeat="step in steps">
        <button class="button button-full button-positive" ng-click="displayShow(step.id)">
          {{step.title+" "+step.time}}
        </button>
        <ion-list class="list" ng-show="step.show">
          <div ng-repeat="item in step.items" style="white-space: nowrap;text-overflow:ellipsis;">
            <div class="item item-input">
              <span class="wl-position-name">{{item.name}}</span>
              <span ng-show="item.value" class="wl-position-value">{{item.value}}</span>
              <img src='{{item.image}}' ng-show="item.image" ng-click="viewStepPicture(item)" class="wl-position-image">
            </div>
          </div>
        </ion-list>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
