/* Empty. Add your own CSS if you like */

.td_left {
  width: 30%;
  text-align: center;
  white-space: nowrap;
}

.td_right {
  width: 70%;
}

.wl-position-name {
  padding: 7px 7px 7px 0px;
  max-width: 200px;
  text-align: left;
  width: 30%;
  color: #333;
  font-size: 16px
}

.wl-position-value {
  padding: 7px 7px 7px 0px;
  text-align: left;
  width: 70%;
  color: #666;
  font-size: 16px
}

.wl-position-image {
  width: 80px;
  height: 80px;
}
